#!/usr/bin/env python

import holidays # This is the pip holiday list
import datetime # Importing datetime module
from datetime import date # Importing date class from datetime module
import sys # This is for splunk custom commands
import os # This is for splunk custom commands
import time;  # This is required to include time module.




sys.path.insert(0, os.path.join(os.path.dirname(Holidaycheck.py), "..", "lib"))
from splunklib.searchcommands import \
    dispatch, ReportingCommand, Configuration, Option, validators

# Select country
us_holidays = holidays.US()
today = date.today()

@Configuration()
class %(command.title())Command(ReportingCommand):




    @Configuration()
    def map(self, events):
        # Put your streaming preop implementation here, or remove the map method,
        # if you have no need for a streaming preop

        eval n=relative_time(now(), "-1d@d")
        pass

    def reduce(self, events):
        # Put your reporting implementation
        pass

dispatch(%(command.title())Command, sys.argv, sys.stdin, sys.stdout, __name__)
